<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event Form</title>
</head>
<body>
    <div>Event Form - for creating New Event, or editting Existing Event</div>

    <div>
        <form class="event-new-form" action="" method="post">
            <fieldset>
                <legend>New Tasting Event</legend>
                <p>
                    <label for="event-host">Event Host
                        <input type="text" name="event-host">
                    </label>

                </p>
                <p>
                    <label for="event-desc">Event Description
                        <input type="text" name="event-desc" required>
                    </label>
                </p>
                <div>
                    <button class="button-submit js-button-submit">Submit</button>
                </div>
                <div>
                    <a href="/events">
                        <button class="button-cancel js-button-cancel">Cancel</button>
                    </a>
                </div>
            </fieldset>

        </form>

    </div>
</body>
</html>