html {
  font-family: 'Lato', sans-serif;
}
* {
  box-sizing: border-box;
}

/******************************************************************************/
/*  BACKGROUND IMAGE - BEGIN */
/******************************************************************************/

/* NOTE: use padding, not margin.
   Margin creates white space when used with background image recipe */

body.index-page {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("/images/corks01_john_murzaku_269690_unsplash.jpg");
  /*background-image: url("/images/vineyard01_sven_wilhelm_359306_unsplash.jpg");*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 1;
  /* blackout effect - begin */
  background-color: rgba(0,0,0, 0.6);
  background-blend-mode: multiply;
  /* blackout effect - begin */

  margin: 0;
  padding: 0;
  z-index: -1;
}
/******************************************************************************/
/*  BACKGROUND IMAGE - END */
/******************************************************************************/

/******************************************************************************/
/*  CONTENT - BEGIN */
/******************************************************************************/
.header-wrapper {
  /*position: relative;*/
  text-align: center;
  font-size: 4rem;
  font-weight: 200;
  letter-spacing: 6px;
  color: white;
  padding-top: 2em;
  z-index: 2;
}
.caption {
  position: relative;
  text-align: center;
  font-size: 1rem;
  letter-spacing: 5px;
  color: white;
  z-index: 2;
}
.caption.first {
  padding-top: 3em;
  padding-bottom: 2em;
}
.buttons {
  width: 100%;
  text-align: center;
  padding-top: 5rem;
}
.signin-button,
.signup-button  {
  display: inline-block;
  width: 5em;
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: 2px;
  color: white;
  border: none;
  padding: 10px;
  background-color: rgb(100,149,237);
  /*background-color: rgba(100,149,237, 0.8);*/
  z-index: 2;
}
.signin-button:hover,
.signup-button:hover {
  background-color: rgba(100,149,237, 0.8);
  /*background-color: rgb(100,149,237);*/
  /*background: #ddd;*/
  /*color: black;*/
  cursor: pointer;
}
.signin-button {
  margin-right: 15px;
}
/******************************************************************************/
/*  CONTENT - END */
/******************************************************************************/