#modal {
  background-color: rgba(0,0,0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
}
.modal-content {
  width: 50%;
  height: 400px;
  margin: 50px 25%;
  background-color: #fff;

}
.close-modal-icon {
  float: right;
  padding: 10px 15px;
  cursor: pointer;
}

.open-modal {
  cursor: pointer;
}