html {
  font-family: 'Lato', sans-serif;
}
* {
  box-sizing: border-box;
}

/******************************************************************************/
/*  FLEXIBLE GRID  - BEGIN */
/******************************************************************************/

/* Grid measurements:
 *
 *   960px wide including 12 gutters (half gutters on both edges)
 *
 *   60px columns (12)
 *   20px gutters (two half-gutters + 11 full gutters, so 12 total)
 *
 *
 *   For smaller screens, we always want 20px of padding on either side,
 *   so 960 + 20 + 20 => 1000px
 *
 **/
.row {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-3, .col-4, .col-6, .col-12 {
  float: left;

  /* Gutters:
   * Each column is padded by half-a-gutter on each side,
   *
   * Half a gutter is 10px, 10/960 (context) = 1.041666%
   *
   */
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}

/* Mobile defaults */
.col-3, .col-4, .col-6, .col-12 {
  width: 100%;
}

/* Non-mobile, grid */
@media only screen and (min-width: 640px) {
  /* 3 columns, 3/12 in % */
  .col-3 {
    width: 25%;
  }

  /* 4 columns */
  .col-4 {
    width: 33.33%;
  }

  /* 6 columns */
  .col-6 {
    width: 50%;
  }

  /* 12 columns */
  .col-12 {
    width: 100%;
  }

}

/******************************************************************************/
/*  FLEXIBLE GRID  - END */
/******************************************************************************/

/******************************************************************************/
/*  ALL PAGES - BEGIN */
/******************************************************************************/
/* Mobile CSS */
.search-results-page-wrapper,
.event-form-edit-page-wrapper,
.event-form-new-page-wrapper,
.events-list-page-wrapper,
.tasting-form-edit-page-wrapper,
.tasting-form-new-page-wrapper {
  margin: 30px auto 30px auto;
  width: 100%;
}
/* Non-mobile CSS */
@media only screen and (min-width: 640px) {
  .search-results-page-wrapper,
  .event-form-edit-page-wrapper,
  .event-form-new-page-wrapper,
  .events-list-page-wrapper,
  .tasting-form-edit-page-wrapper,
  .tasting-form-new-page-wrapper {
    margin: 30px auto 30px auto;
    width: 80%;
  }
}
/******************************************************************************/
/*  ALL PAGES - END */
/******************************************************************************/

/******************************************************************************/
/*  EVENTS LIST - BEGIN */
/******************************************************************************/
.events-wrapper {
  padding: 20px;
  border: 1px solid #ccc;
  margin-top: 2em;
}
.event-header-wrapper {
  /* for positioning new event button */
  position: relative;
  margin-top: 1rem;
}
h2.event-header,
a.new-tasting-event-button {
  display: inline-block;
}
a.new-tasting-event-button {
  /* for positioning new event button */
  position: absolute;
  top: 1rem;
  right: 0rem;

  text-align: center;
  text-decoration: none;
  padding: 0.5rem;
  font-size: 1.25rem;
  color: white;
  background-color: cornflowerblue;
}
a.new-tasting-event-button:hover {
  /*cursor: pointer;*/
}
.events-list-wrapper .event-span {
  cursor: pointer;
}
.events-list-wrapper .tasting-span {
  cursor: pointer;
}
.events-list-wrapper .tasting-detail-wrapper {
  display: none;
}
.events-list-wrapper .country-map-span {
  cursor: pointer;
}
.events-list-wrapper .country-map {
  display: none;
}
.events-list-wrapper .primary-appellation-map-span {
  cursor: pointer;
}
.events-list-wrapper .primary-appellation-map {
  display: none;
}
.events-list-wrapper .secondary-appellation-map-span {
  cursor: pointer;
}
.events-list-wrapper .secondary-appellation-map {
  display: none;
}
li.event-li {
  list-style: none;
  margin-left: -40px;
  margin-top: 3px;
  margin-bottom: 3px;
}
li .event-desc {
  /* contains Event Date, Name, Distributor, Edit, Delete icons */
  /* position:relative for <span> placement */
  position: relative;
  font-size: 1.2rem;
  color: white;
  padding: 0.5em;
  background-color: cornflowerblue;

}
/******************************************************************************/
/*  EVENTS LIST - END */
/******************************************************************************/

/******************************************************************************/
/*  BOTH EVENT LIST AND TASTING NOTE  - BEGIN */
/******************************************************************************/
/* tasting icons styling and positioning - BEGIN */
.events-list-wrapper .add-new-tasting-note-span,
.events-list-wrapper .delete-event-span,
.events-list-wrapper .edit-event-span {
  cursor: pointer;
}
.events-list-wrapper .delete-tasting-span,
.events-list-wrapper .edit-tasting-span {
  cursor: pointer;
}
/* tasting icons styling and positioning - END */

/* icons styling and positioning - BEGIN */
.add-new-tasting-note-span {
  display: inline-block;
  position: absolute;
  right: 5.25em;
}
.edit-event-span,
.edit-tasting-span {
  display: inline-block;
  position: absolute;
  /*right: 70px;*/
  right: 3.25em;
}
.delete-event-span,
.delete-tasting-span {
  display: inline-block;
  position: absolute;
  right: 1.25em;
}
/* icons styling and positioning - END */
/******************************************************************************/
/*  BOTH EVENT LIST AND TASTING NOTE  - BEGIN */
/******************************************************************************/

/******************************************************************************/
/*  TASTING NOTE  - BEGIN */
/******************************************************************************/
li.tasting-li {
  list-style: none;
  margin-left: -20px;
  margin-top: 3px;
  margin-bottom: 3px;
}
li .tasting-desc {
  /* contains Wine Name, Edit, Delete icons */
  /* position:relative for <span> placement */
  position: relative;
  font-size: 1.2rem;
  color: white;
  padding: 0.5em;
  background-color: cornflowerblue;
}
.tasting-detail-wrapper {
  background-color: blanchedalmond;
  padding: 10px;
}

.tasting-detail-wrapper div {
  font-size: 1.2rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}
.tasting-li .country-map-wrapper,
.tasting-li .primary-appellation-wrapper,
.tasting-li .secondary-appellation-wrapper,
.tasting-li .primary-grape-wrapper,
.tasting-li .rating-wrapper {
  position: relative;
}
.tasting-li .country-map-span,
.tasting-li .primary-appellation-map-span,
.tasting-li .secondary-appellation-map-span,
.tasting-li .primary-grape-span,
.tasting-li .rating-span {
  position: absolute;
  left: 13rem;
}
.tasting-li .country-map-img,
.tasting-li .primary-appellation-map-img,
.tasting-li .secondary-appellation-map-img {
  width: 100%
}
.tasting-li .rating-wrapper {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.tasting-li .tasting-note {
  margin-top: 0.5rem;
}

/******************************************************************************/
/*  TASTING NOTE  - END */
/******************************************************************************/


/******************************************************************************/
/*  EVENT / TASTING FORM - BEGIN */
/******************************************************************************/
.event-form,
.tasting-form {
  min-width: 400px;
  border: 1px solid #ccc;
  padding: 20px;
}
/* form inputs - BEGIN */
.event-form fieldset,
.tasting-form fieldset {
  border: none;
  padding: 0;
}
.event-form legend,
.event-form label,
.tasting-form legend,
.tasting-form label {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0;
}
.event-form input[type="text"],
.event-form select,
.event-form textarea,
.tasting-form input[type="text"],
.tasting-form input[type="number"],
.tasting-form select,
.tasting-form textarea {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  font-size: 1.1em;
  padding: 0.4em;
}
/* form inputs - BEGIN */

/* buttons css - BEGIN */
.event-form .buttons,
.tasting-form .buttons {
  display: flex;
  justify-content: flex-end;

}
.event-form button,
.tasting-form button {
  background: #ccc;
  color: white;
  padding: 0.5rem;
  font-size:  1rem;
  border: none;
  font-weight: bold;
  margin-top: 1em;
}
.event-form .button-cancel,
.event-form .button-save,
.tasting-form .button-cancel,
.tasting-form .button-save{
  display: inline-block;
}
.event-form button.cancel,
.tasting-form button.cancel {
  margin-right: 10px;
}
.event-form button.cancel:hover,
.tasting-form button.cancel:hover {
  background-color: red;
}
.event-form button.save:hover,
.tasting-form button.save:hover {
  background: green;
}
.event-form button:hover,
.tasting-form button:hover {
  cursor: pointer;
}
/* buttons css - END */
/******************************************************************************/
/*  EVENT / TASTING FORM - END */
/******************************************************************************/

/******************************************************************************/
/*  TASTING FORM ONLY - BEGIN */
/******************************************************************************/
.tasting-form .country-map-wrapper {
  display: none;
}
.tasting-form .country-map-span {
  cursor: pointer;
}
.tasting-form .primary-app-map-wrapper {
  display: none;
}
.tasting-form .primary-app-map-span {
  cursor: pointer;
}
.tasting-form .secondary-app-map-wrapper {
  display: none;
}
.tasting-form .secondary-app-map-span {
  cursor: pointer;
}
.tasting-form .country-map-img,
.tasting-form .primary-app-map-img,
.tasting-form .secondary-app-map-img {
  width: 100%;
}
/******************************************************************************/
/*  TASTING FORM ONLY - BEGIN */
/******************************************************************************/

/******************************************************************************/
/*  SEARCH FORM - BEGIN */
/******************************************************************************/
.search-form {
  min-width: 400px;
  border: 1px solid #ccc;
  padding: 20px;

}
/* form inputs - BEGIN */
.search-form fieldset {
  border: none;
  padding: 0;
}
.search-form legend,
.search-form label {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0;
}
.search-form input[type="number"],
.search-form select              {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  font-size: 1.1rem;
  padding: 0.4em;
}
/* form inputs - END */

/* buttons css - BEGIN */
.search-form .buttons {
  display: flex;
  justify-content: flex-end;
}
.search-form button {
  background: #ccc;
  color: white;
  padding: 0.5rem;
  font-size:  1rem;
  border: none;
  font-weight: bold;
  margin-top: 1rem;
}

.search-form button.search-button:hover {
  cursor: pointer;
  background: cornflowerblue;
}
/* buttons css - END */
/******************************************************************************/
/*  SEARCH FORM - END */
/******************************************************************************/

/******************************************************************************/
/*  SEARCH RESULTS - BEGIN */
/******************************************************************************/
/* TODO - search results list CSS */
.search-results-wrapper {
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 2em;
}
li.result-li {
  list-style: none;
  margin-left: -40px;
  margin-top: 3px;
  margin-bottom: 3px;
}
/* result desc - BEGIN */
li div.result-desc {
  display: flex;
  justify-content: space-between;
  background-color: cornflowerblue;
  color: white;
  padding: 0.5em;
}
/* Mobile */
.result-desc-winename-span,
.result-desc-pricing-span,
.result-date-span {
  display: inline-block;
  font-size: 0.9em;
}
/* Non-mobile */
@media only screen and (min-width: 640px) {
  .result-desc-winename-span,
  .result-desc-pricing-span,
  .result-date-span {
    display: inline-block;
    font-size: 1.2em;
  }
}
.result-desc-winename-span {
  cursor: pointer;
}
/* result desc - END */

/* result detail - BEGIN */
.result-detail-wrapper {
  background-color: blanchedalmond;
  padding: 10px;
  display: none;
}
.result-detail-wrapper div {
  font-size: 1.2rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}
/* Mobile */
.result-detail-wrapper div {
  font-size: 0.9rem;
}
/* Non-mobile */
@media only screen and (min-width: 640px) {
  .result-detail-wrapper div {
    font-size: 1.2rem;
  }
}
/* result detail - BEGIN */
.result-li .eventhost-wrapper,
.result-li .eventname-wrapper,
.result-li .rating-wrapper,
.result-li .pricing1-wrapper,
.result-li .pricing2-wrapper,
.result-li .pricing3-wrapper,
.result-li .pricing4-wrapper {
  position: relative;
}
.result-li .eventhost-span,
.result-li .eventname-span,
.result-li .rating-span,
.result-li .pricing1-span,
.result-li .pricing2-span,
.result-li .pricing3-span,
.result-li .pricing4-span {
  position: absolute;
  left: 8rem;
}
.result-li .rating-wrapper {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.result-li .tasting-note {
  margin-top: 0.5rem;
}
/* result detail - END */

.no-search-results {
  display: none;
}

/******************************************************************************/
/*  SEARCH RESULTS - BEGIN */
/******************************************************************************/


/******************************************************************************/
/*  TASTING NOTE - TEXTAREA: NEW/EDIT TA FORM, TA LIST, SEARCH RESULTS - BEGIN */
/******************************************************************************/
/* new/edit Tasting Note Form */
/* Tasting Note List */
/* Tasting Note Search Results */
.tasting-form textarea,
.tasting-li .tn-textarea,
.result-li .tn-textarea {
  width: 100%;
  height: 200px;
  font-size: 1.1rem;
  background-color: lightgray;
}

/******************************************************************************/
/*  TASTING NOTE - TEXTAREA: NEW/EDIT TA FORM, LIST, SEARCH RESULTS - BEGIN */
/******************************************************************************/