html {
  font-family: 'Lato', sans-serif;
}
* {
  box-sizing: border-box;
}

/******************************************************************************/
/*  FLEXIBLE GRID  - BEGIN */
/******************************************************************************/

/* Grid measurements:
 *
 *   960px wide including 12 gutters (half gutters on both edges)
 *
 *   60px columns (12)
 *   20px gutters (two half-gutters + 11 full gutters, so 12 total)
 *
 *
 *   For smaller screens, we always want 20px of padding on either side,
 *   so 960 + 20 + 20 => 1000px
 *
 **/
.row {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-3, .col-4, .col-6, .col-12 {
  float: left;

  /* Gutters:
   * Each column is padded by half-a-gutter on each side,
   *
   * Half a gutter is 10px, 10/960 (context) = 1.041666%
   *
   */
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}

/* Mobile defaults */
.col-3, .col-4, .col-6, .col-12 {
  width: 100%;
}

/* Non-mobile, grid */
@media only screen and (min-width: 640px) {
  /* 3 columns, 3/12 in % */
  .col-3 {
    width: 25%;
  }

  /* 4 columns */
  .col-4 {
    width: 33.33%;
  }

  /* 6 columns */
  .col-6 {
    width: 50%;
  }

  /* 12 columns */
  .col-12 {
    width: 100%;
  }

}

/******************************************************************************/
/*  FLEXIBLE GRID  - END */
/******************************************************************************/

/******************************************************************************/
/*  ALL PAGES - BEGIN */
/******************************************************************************/
/* Mobile CSS */
.search-results-page-wrapper,
.event-form-edit-page-wrapper,
.event-form-new-page-wrapper,
.events-list-page-wrapper,
.tasting-form-edit-page-wrapper,
.tasting-form-new-page-wrapper {
  margin: 30px auto 30px auto;
  width: 100%;
}
/* Non-mobile CSS */
@media only screen and (min-width: 640px) {
  .search-results-page-wrapper,
  .event-form-edit-page-wrapper,
  .event-form-new-page-wrapper,
  .events-list-page-wrapper,
  .tasting-form-edit-page-wrapper,
  .tasting-form-new-page-wrapper {
    margin: 30px auto 30px auto;
    width: 80%;
  }
}
/******************************************************************************/
/*  ALL PAGES - END */
/******************************************************************************/

/******************************************************************************/
/*  EVENTS LIST - BEGIN */
/******************************************************************************/
/* mobile */
.events-wrapper {
  padding: 10px;
  border: 1px solid #ccc;
  margin-top: 2em;
}

/* non-mobile */
@media only screen and (min-width: 640px) {
  .events-wrapper {
    padding: 20px;
  }
}
/* events header - BEGIN */
.events-header-wrapper {
  /* for positioning new event button */
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
div.events-header {
  font-size: 1.5rem;
  font-weight: bold;
  align-self: flex-end;
}
button.new-tasting-event-button {
  display: inline-block;
}
button.new-tasting-event-button {
  text-align: center;
  text-decoration: none;
  padding: 0.5rem;
  font-size: 1.25rem;
  color: white;
  background-color: rgb(100,149,237);
}
button.new-tasting-event-button:hover {
  background: #ddd;
  color: black;
  cursor: pointer;
}
/* events header - END */

/* events desc/icons - BEGIN */
li.event-li {
  list-style: none;
  margin-left: -40px;
  margin-top: 3px;
  margin-bottom: 3px;
}
/* TODO - fix color shades - events list */
li div.event-desc-icon-wrapper {
  /* contains Event Date, Event Name and Add Tasting Note, Edit, Delete icons */
  /* flex parent of event desc and event icon wrapper */
  /* icons inside the event-icon-wrapper are also "space-between" */
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  color: white;
  padding: 0.5rem;
  background-color: rgb(100,149,237);
}

.add-new-tasting-note-span,
.edit-event-span,
.delete-event-span
{
  display: inline-block;
  padding: 0 0.25rem;
}

/* mobile */
.event-desc-span,
.event-icons-wrapper {
  display: inline-block;
  font-size: 0.9rem
}
/* Non-mobile */
@media only screen and (min-width: 640px) {
  .event-desc-span,
  .event-icons-wrapper {
    display: inline-block;
    font-size: 1.2rem;
  }
}

/* event desc and icons - on-hover */
.events-list-wrapper .event-desc-span {
  cursor: pointer;
}
.events-list-wrapper .add-new-tasting-note-span,
.events-list-wrapper .delete-event-span,
.events-list-wrapper .edit-event-span {
  transition: all .2s ease;
}
.events-list-wrapper .add-new-tasting-note-span:hover,
.events-list-wrapper .edit-event-span:hover,
.events-list-wrapper .delete-event-span:hover {
  transform: scale(1.4);
  cursor: pointer;
}
/* events desc/icons - END */
/******************************************************************************/
/*  EVENTS LIST - END */
/******************************************************************************/

/******************************************************************************/
/*  TASTING NOTE  - BEGIN */
/******************************************************************************/
li.tasting-li {
  list-style: none;
  margin-left: -20px;
  margin-top: 3px;
  margin-bottom: 3px;
}
/* TODO - fix color shades - tasting notes list */
/* tasting note desc/icon - BEGIN */
li div.tasting-desc-icon-wrapper {
  /* contains Wine Name and Edit, Delete icons */
  /* flex parent of tasting desc and tasting icon wrapper */
  /* icons inside the tasting-icon-wrapper are also "space-between" */
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  color: white;
  padding: 0.5rem;
  background-color: rgba(100,149,237, 1);
}

.edit-tasting-span,
.delete-tasting-span
{
  display: inline-block;
  padding: 0 0.25rem;
}

/* mobile */
.tasting-desc-span,
.tasting-icons-wrapper {
  display: inline-block;
  font-size: 0.9rem
}
/* Non-mobile */
@media only screen and (min-width: 640px) {
  .tasting-desc-span,
  .tasting-icons-wrapper {
    display: inline-block;
    font-size: 1.2rem;
  }
}

/* tastings desc/icons - on-hover */
.events-list-wrapper .tasting-desc-span {
  cursor: pointer;
}
.events-list-wrapper .delete-tasting-span,
.events-list-wrapper .edit-tasting-span {
  transition: all .2s ease;
}
.events-list-wrapper .delete-tasting-span:hover,
.events-list-wrapper .edit-tasting-span:hover {
  transform: scale(1.4);
  cursor: pointer;
}
/* tasting note desc/icon - END */

/* TODO - fix color shades - tasting detail */
/* tasting note detail - BEGIN */
.tasting-detail-wrapper {
  /*background-color: blanchedalmond;*/
  background-color: rgba(100,149,237, 0.05);
  padding: 10px;
}
/* mobile */
.tasting-detail-wrapper div {
  font-size: 0.9rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}
/* non-mobile */
@media only screen and (min-width: 640px) {
  .tasting-detail-wrapper div {
    font-size: 1.2rem;
  }
}
.events-list-wrapper .tasting-detail-wrapper {
  display: none;
}
.events-list-wrapper .country-map-span {
  cursor: pointer;
}
.events-list-wrapper .country-map {
  display: none;
}
.events-list-wrapper .primary-appellation-map-span {
  cursor: pointer;
}
.events-list-wrapper .primary-appellation-map {
  display: none;
}
.events-list-wrapper .secondary-appellation-map-span {
  cursor: pointer;
}
.events-list-wrapper .secondary-appellation-map {
  display: none;
}
.tasting-li .country-map-wrapper,
.tasting-li .primary-appellation-wrapper,
.tasting-li .secondary-appellation-wrapper,
.tasting-li .primary-grape-wrapper,
.tasting-li .rating-wrapper {
  position: relative;
}
.tasting-li .country-map-span,
.tasting-li .primary-appellation-map-span,
.tasting-li .secondary-appellation-map-span,
.tasting-li .primary-grape-span,
.tasting-li .rating-span {
  position: absolute;
  left: 13rem;
}
.tasting-li .country-map-img,
.tasting-li .primary-appellation-map-img,
.tasting-li .secondary-appellation-map-img {
  width: 100%
}
.tasting-li .rating-wrapper {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.tasting-li .tasting-note {
  margin-top: 0.5rem;
}
/* tasting note detail - END */

/******************************************************************************/
/*  TASTING NOTE  - END */
/******************************************************************************/

/******************************************************************************/
/*  EVENT / TASTING FORM - BEGIN */
/******************************************************************************/
.event-form,
.tasting-form {
  min-width: 400px;
  border: 1px solid #ccc;
  padding: 20px;
}
/* form inputs - BEGIN */
.event-form fieldset,
.tasting-form fieldset {
  border: none;
  padding: 0;
}
.event-form legend,
.event-form label,
.tasting-form legend,
.tasting-form label {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0;
}
.event-form input[type="text"],
.event-form select,
.event-form textarea,
.tasting-form input[type="text"],
.tasting-form input[type="number"],
.tasting-form select,
.tasting-form textarea {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  font-size: 1.1em;
  padding: 0.4em;
}
/* form inputs - BEGIN */

/* new event, new tasting note form button - BEGIN */
.event-form .buttons,
.tasting-form .buttons {
  display: flex;
  justify-content: flex-end;

}
.event-form button,
.tasting-form button {
  /*background: #ccc;*/
  /*color: white;*/
  padding: 0.5rem;
  font-size:  1rem;
  border: none;
  font-weight: bold;
  margin-top: 1em;
}
.event-form .button-cancel,
.event-form .button-save,
.tasting-form .button-cancel,
.tasting-form .button-save{
  display: inline-block;
}

.event-form button.cancel,
.tasting-form button.cancel {
  background-color: rgba(255,0,0, 0.7);
  color: white;
  margin-right: 10px;
}
.event-form button.cancel:hover,
.tasting-form button.cancel:hover {
  background: #ddd;
  color: black;
  cursor: pointer;
}
.event-form button.save,
.tasting-form button.save {
  background-color: rgb(100,149,237);
  color: white;
}
.event-form button.save:hover,
.tasting-form button.save:hover {
  background: #ddd;
  color: black;
  cursor: pointer;
}
/* new event, new tasting note form buttons - END */
/******************************************************************************/
/*  EVENT / TASTING FORM - END */
/******************************************************************************/

/******************************************************************************/
/*  TASTING FORM ONLY - BEGIN */
/******************************************************************************/
.tasting-form .country-map-wrapper {
  display: none;
}
.tasting-form .country-map-span {
  cursor: pointer;
}
.tasting-form .primary-app-map-wrapper {
  display: none;
}
.tasting-form .primary-app-map-span {
  cursor: pointer;
}
.tasting-form .secondary-app-map-wrapper {
  display: none;
}
.tasting-form .secondary-app-map-span {
  cursor: pointer;
}
.tasting-form .country-map-img,
.tasting-form .primary-app-map-img,
.tasting-form .secondary-app-map-img {
  width: 100%;
}
/******************************************************************************/
/*  TASTING FORM ONLY - BEGIN */
/******************************************************************************/

/******************************************************************************/
/*  SEARCH FORM - BEGIN */
/******************************************************************************/
.search-form {
  min-width: 400px;
  border: 1px solid #ccc;
  padding: 20px;

}
/* form inputs - BEGIN */
.search-form fieldset {
  border: none;
  padding: 0;
}
.search-form legend,
.search-form label {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0;
}
.search-form input[type="number"],
.search-form select              {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  font-size: 1.1rem;
  padding: 0.4em;
}
/* form inputs - END */

/* buttons css - BEGIN */
.search-form .buttons {
  display: flex;
  justify-content: flex-end;
}
.search-form button {
  background-color: rgb(100,149,237);
  color: white;
  padding: 0.5rem;
  font-size: 1.25rem;
  border: none;
  margin-top: 1rem;
}
.search-form button.search-button:hover {
  background: #ddd;
  color: black;
  cursor: pointer;
}
/* buttons css - END */
/******************************************************************************/
/*  SEARCH FORM - END */
/******************************************************************************/

/******************************************************************************/
/*  SEARCH RESULTS - BEGIN */
/******************************************************************************/
.search-results-wrapper {
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 2em;
}
li.result-li {
  list-style: none;
  margin-left: -40px;
  margin-top: 3px;
  margin-bottom: 3px;
}

/* TODO - fix color shades - search results list */
/* result desc - BEGIN */
li div.result-desc {
  display: flex;
  justify-content: space-between;
  background-color: rgba(100,149,237, 1);
  color: white;
  padding: 0.5em;
}
/* Mobile */
.result-desc-winename-span,
.result-desc-pricing-span,
.result-desc-date-span {
  display: inline-block;
  font-size: 0.9em;
}
/* Non-mobile */
@media only screen and (min-width: 640px) {
  .result-desc-winename-span,
  .result-desc-pricing-span,
  .result-desc-date-span {
    display: inline-block;
    font-size: 1.2em;
  }
}
.result-desc-winename-span {
  cursor: pointer;
}
/* result desc - END */

/* TODO - fix color shades - search result detail */
/* result detail - BEGIN */
.result-detail-wrapper {
  background-color: rgba(100,149,237, 0.05);
  padding: 10px;
  display: none;
}
.result-detail-wrapper div {
  font-size: 1.2rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}
/* Mobile */
.result-detail-wrapper div {
  font-size: 0.9rem;
}
/* Non-mobile */
@media only screen and (min-width: 640px) {
  .result-detail-wrapper div {
    font-size: 1.2rem;
  }
}
/* result detail - BEGIN */
.result-li .eventhost-wrapper,
.result-li .eventname-wrapper,
.result-li .rating-wrapper,
.result-li .pricing1-wrapper,
.result-li .pricing2-wrapper,
.result-li .pricing3-wrapper,
.result-li .pricing4-wrapper {
  position: relative;
}
.result-li .eventhost-span,
.result-li .eventname-span,
.result-li .rating-span,
.result-li .pricing1-span,
.result-li .pricing2-span,
.result-li .pricing3-span,
.result-li .pricing4-span {
  position: absolute;
  left: 8rem;
}
.result-li .rating-wrapper {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.result-li .tasting-note {
  margin-top: 0.5rem;
}
/* result detail - END */

.no-search-results {
  display: none;
}

/******************************************************************************/
/*  SEARCH RESULTS - BEGIN */
/******************************************************************************/


/******************************************************************************/
/*  TASTING NOTE - TEXTAREA: NEW/EDIT TA FORM, TA LIST, SEARCH RESULTS - BEGIN */
/******************************************************************************/
/* new/edit Tasting Note Form */
/* Tasting Note List */
/* Tasting Note Search Results */

/* TODO - fix color shades - textareas */
/* mobile */
.tasting-form textarea,
.tasting-li .tn-textarea,
.result-li .tn-textarea {
  width: 100%;
  height: 200px;
  font-size: 0.9rem;
  /* NOTE: textarea background-color get enhanced by the underlying tasting/result background-color */
  /* soft blue */
  background-color: rgba(100,149,237, 0.05);
  /* warmer beige */
  /*background-color: blanchedalmond;*/
}
/* non-mobile */
@media only screen and (min-width: 640px) {
  .tasting-form textarea,
  .tasting-li .tn-textarea,
  .result-li .tn-textarea {
    font-size: 1.1rem;
  }
}
/******************************************************************************/
/*  TASTING NOTE - TEXTAREA: NEW/EDIT TA FORM, LIST, SEARCH RESULTS - BEGIN */
/******************************************************************************/