/******************************************************************************/
/*  FLEXIBLE GRID  - BEGIN */
/******************************************************************************/
* {
  box-sizing: border-box;
}

/* Grid measurements:
 *
 *   960px wide including 12 gutters (half gutters on both edges)
 *
 *   60px columns (12)
 *   20px gutters (two half-gutters + 11 full gutters, so 12 total)
 *
 *
 *   For smaller screens, we always want 20px of padding on either side,
 *   so 960 + 20 + 20 => 1000px
 *
 **/
.row {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-3, .col-4, .col-6, .col-12 {
  float: left;

  /* Gutters:
   * Each column is padded by half-a-gutter on each side,
   *
   * Half a gutter is 10px, 10/960 (context) = 1.041666%
   *
   */
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}

/* Mobile defaults */
.col-3, .col-4, .col-6, .col-12 {
  width: 100%;
}

/* Non-mobile, grid */
@media only screen and (min-width: 640px) {
  /* 3 columns, 3/12 in % */
  .col-3 {
    width: 25%;
  }

  /* 4 columns */
  .col-4 {
    width: 33.33%;
  }

  /* 6 columns */
  .col-6 {
    width: 50%;
  }

  /* 12 columns */
  .col-12 {
    width: 100%;
  }

}

/******************************************************************************/
/*  FLEXIBLE GRID  - END */
/******************************************************************************/

/******************************************************************************/
/*  ALL PAGES - BEGIN */
/******************************************************************************/
html {
  font-family: 'Lato', sans-serif;
}
.events-list-page-wrapper,
.tasting-form-new-page-wrapper,
.tasting-form-edit-page-wrapper,
.event-form-new-page-wrapper,
.event-form-edit-page-wrapper,
.search-results-page-wrapper {
  margin: 30px auto 30px auto;
  width: 50%;
}
/******************************************************************************/
/*  ALL PAGES - END */
/******************************************************************************/



/******************************************************************************/
/*  SIGNIN / SIGNUP FORM - BEGIN */
/******************************************************************************/
/* set background image - BEGIN */
html {
  width: 100%;
  height: 100%;
}
body.landing-page,
body.signup-page {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
}
body.landing-page::after,
body.signup-page::after {
  content: "";
  background-image: url("/images/corks01_john_murzaku_269690_unsplash.jpg");
  /*background-image: url("/images/vineyard01_sven_wilhelm_359306_unsplash.jpg");*/
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0.75;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
/* set background image - END */
.landing-page-header,
.signup-page-header   {
  font-size: 3.25em;
  color: white;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 0.5em;
}
.signin-form,
.signup-form {
  width: 400px;
  background-color: white;
  margin: auto;
  padding: 40px;
}
.signin-form fieldset,
.signup-form fieldset {
  border-style: none;
}
.signin-form legend,
.signup-form legend {
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 20px;
}
.signin-label,
.signup-label {
  display: block;
  font-size: 20px;
  margin-bottom: 5px;
}
.signin-email-input,
.signin-password-input,
.signin-button,
.signup-email-input,
.signup-password-input,
.signup-conf-password-input,
.signup-button {
  height: 55px;
  font-size: 20px;
  width: 100%;
  border: 2px solid #dddddd;
  padding: 15px;
}
.signin-email-input,
.signin-password-input,
.signup-email-input,
.signup-password-input,
.signup-conf-password-input {
  margin-bottom: 20px;
}
.signin-button,
.signup-button {
  background-color: rgb(21, 205, 114);
  color: white;
}
.signin-button:hover,
.signup-button:hover {
  background-color: rgb(21, 175, 96);
  cursor: pointer;
}
/* signup link is on the signin page */
.signup-link,
.signin-link {
  /*font-weight: bold;*/
  font-size: 1.25em;
  text-align: center;
  color: white;
  /*color: black;*/
}
/* signup link is on the signin page */
.signup-link a,
.signin-link a {
  color: white;
  text-decoration: underline;
  margin-left: 10px;
}
/*footer .info {*/
  /*background-color: cornflowerblue;*/
  /*height: 10em;*/
  /*width: 80%;*/
  /*!*text-align: center;*!*/
  /*margin: auto;*/
/*}*/

/******************************************************************************/
/*  SIGNIN / SIGNUP FORM - BEGIN */
/******************************************************************************/

/******************************************************************************/
/*  EVENTS LIST - BEGIN */
/******************************************************************************/
.events-link {
  padding-left: 20px;
}

li.event-li {
  list-style: none;
}
.events-list-wrapper .event-span {
  cursor: pointer;
}

li.tasting-li {
  list-style: none;
}
.events-list-wrapper .delete-event-span,
.events-list-wrapper .edit-event-span {
  cursor: pointer;
}
.events-list-wrapper .delete-tasting-span,
.events-list-wrapper .edit-tasting-span {
  cursor: pointer;
}
.events-list-wrapper .tasting-span {
  cursor: pointer;
}
.events-list-wrapper .tasting-detail-wrapper {
  display: none;
}
.events-list-wrapper .country-map-span {
  cursor: pointer;
}
.events-list-wrapper .country-map {
  display: none;
}
.events-list-wrapper .primary-appellation-map-span {
  cursor: pointer;
}
.events-list-wrapper .primary-appellation-map {
  display: none;
}
.events-list-wrapper .secondary-appellation-map-span {
  cursor: pointer;
}
.events-list-wrapper .secondary-appellation-map {
  display: none;
}
/******************************************************************************/
/*  EVENTS LIST - END */
/******************************************************************************/

/******************************************************************************/
/*  SEARCH FORM - BEGIN */
/******************************************************************************/
.search-inputs-wrapper {
  float: left;
  width: 70%;
}
.search-button-wrapper {
  float: left;
  width: 30%
}
.search-form {
  /*font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;*/
  /*font-size: 0.8em;*/
  width: 100%;
  padding: 1em;
  border: 1px solid #ccc;
}

.search-form fieldset {
  border: none;
  padding: 0;
}

.search-form legend,
.search-form label {
  padding: 0;
  font-weight: bold;
}

.search-form label {
  text-align: left;
  /*display: block;*/
}

.search-form input[type="text"],
.search-form input[type="number"],
.search-form select              {
  /*float: right;*/
  /*width: 60%;*/
  /*border: 1px solid #ccc;*/
  /*!*font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;*!*/
  /*font-size: 0.9em;*/
  /*padding: 0.3em;*/

  float: right;
  display: block;
  width: 60%;
  border: 1px solid #ccc;
  font-size: 1.1em;
  padding: 0.4em;
}

.search-form button {
  /*padding: 1em;*/
  /*background: #eee;*/
  /*border: none;*/
  /*font-weight: bold;*/
  /*margin-left: 40%;*/
  /*margin-top: 2em;*/
  margin-left: 40%;
  background: #ccc;
  color: white;
  padding: 0.5rem;
  font-size:  1rem;
  border: none;
  font-weight: bold;
  margin-top: 1em;
}

.search-form button:hover {
  background: #ccc;
  cursor: pointer;
}

.search-form button.search-button:hover {
  background: green;
}

/******************************************************************************/
/*  SEARCH FORM - END */
/******************************************************************************/

/******************************************************************************/
/*  SEARCH RESULTS - BEGIN */
/******************************************************************************/
.result-li {
  list-style: none;
}
.result-detail-wrapper {
  display: none;
}
.result-header-span {
  cursor: pointer;
}
.no-search-results {
  display: none;
}
/******************************************************************************/
/*  SEARCH RESULTS - BEGIN */
/******************************************************************************/

/******************************************************************************/
/*  EVENT / TASTING FORM - BEGIN */
/******************************************************************************/
.event-form,
.tasting-form {
  /*margin: 30px auto 30px auto;*/
  /*width: 50%;*/
}

.event-form fieldset,
.tasting-form fieldset {
  border: none;
  padding: 0;
}

.event-form legend,
.event-form label,
.tasting-form legend,
.tasting-form label {
  font-size: 1.3em;
  font-weight: bold;
  padding: 0;
}

.event-form input[type="text"],
.event-form select,
.event-form textarea,
.tasting-form input[type="text"],
.tasting-form input[type="number"],
.tasting-form select,
.tasting-form textarea {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  font-size: 1.1em;
  padding: 0.4em;
}

.event-form .buttons,
.tasting-form .buttons {
  text-align: right;
}
.event-form button,
.tasting-form button {
  background: #ccc;
  color: white;
  padding: 0.5rem;
  font-size:  1rem;
  border: none;
  font-weight: bold;
  margin-top: 1em;
}

.event-form .button-cancel,
.event-form .button-save,
.tasting-form .button-cancel,
.tasting-form .button-save{
  display: inline-block;
}
.event-form button.cancel,
.tasting-form button.cancel {
  margin-right: 10px;
}

.event-form button.cancel:hover,
.tasting-form button.cancel:hover {
  background-color: red;
}
/*.event-form button.save {*/
  /*background: green;*/
/*}*/
.event-form button.save:hover,
.tasting-form button.save:hover {
  background: green;
}
.event-form button:hover,
.tasting-form button:hover {
  cursor: pointer;
}
/******************************************************************************/
/*  EVENT / TASTING FORM - END */
/******************************************************************************/

/******************************************************************************/
/*  TASTING FORM ONLY - BEGIN */
/******************************************************************************/
.tasting-form .country-map-wrapper {
  display: none;
}
.tasting-form .country-map-span {
  cursor: pointer;
}
.tasting-form .country-map-img {
  width: 100%;
}
.tasting-form textarea {
  height: 100px;
}
.tasting-form .primary-app-map-wrapper {
  display: none;
}
.tasting-form .primary-app-map-span {
  cursor: pointer;
}
.tasting-form .primary-app-map-img {
  width: 100%;
}
.tasting-form .secondary-app-map-wrapper {
  display: none;
}
.tasting-form .secondary-app-map-span {
  cursor: pointer;
}
.tasting-form .secondary-app-map-img {
  width: 100%;
}
/******************************************************************************/
/*  TASTING FORM ONLY - BEGIN */
/******************************************************************************/


/* Misc Hold - BEGIN */
/*.event-form input[type=button],*/
/*.event-form input[type=submit] {*/
  /*color: white;*/
  /*padding: 0.5rem;*/
  /*font-size:  1rem;*/
  /*border: none;*/
  /*font-weight: bold;*/
  /*cursor: pointer;*/
  /*margin-top: 1em;*/
/*}*/
/*.event-form input[type=button] {*/
  /*background-color: red;*/
/*}*/
/*.event-form input[type=submit] {*/
  /*background-color: green;*/
/*}*/

/* Misc Hold - END */
