<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Som Assistance web app">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Som Assistance</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div>Welcome to Som Assistance</div>
    <div>dir refactored version</div>

    <a class="events-link" href="/events">Display Events</a>

    <script src="//code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/js/client.js"></script>
</body>
</html>