<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Som Assistance web app">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Som Assistance</title>
    <link rel="stylesheet" href="/css/index.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>
<body class="index-page">
<div class="header-wrapper">
    <div class="">somm</div>
    <div class="">assistance</div>
</div>
<div class="first caption">wine tasting notes made simple</div>
<div class="second caption">taste&nbsp;&nbsp;&nbsp;save&nbsp;&nbsp;&nbsp;search</div>
<div class="signin-button js-signin-button">Sign in</div>

<!-- scripts -->
<script src="//code.jquery.com/jquery-2.2.1.min.js"
        integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
        crossorigin="anonymous">
</script>
<script src="/js/index.js"></script>

</body>
</html>