<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Som Assistance web app">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Som Assistance Signup</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>
<body class="signup-page">
<div class="signup-page-wrapper">
    <div class="signup-page-header">som assistance</div>

    <div class="invalid-signup js-invalid-signup">
        <span class="invalid-signup-message">User Account Already Exists</span>
    </div>
    <form class="signup-form" role="form">
        <fieldset>
            <legend>Signup</legend>

            <label for="signup-email" class="signup-label">Email</label>
            <input id="signup-email" class="signup-email-input js-signup-email-input" type="email" name="email" placeholder="me@example.com" required>

            <label for="signup-password" class="signup-label" >Password</label>
            <input id="signup-password" class="signup-password-input js-signup-password-input" type="password" name="password" placeholder="password" required>

            <label for="signup-conf-password" class="signup-label" >Confirm Password</label>
            <input id="signup-conf-password" class="signup-conf-password-input js-signup-conf-password-input" type="password" name="password" placeholder="confirm password" required>

            <button class="signup-button js-signup-button" type="submit">Signup</button>
        </fieldset>
    </form>
    <p class="signin-link">Already have an account?  <a href="/">Signin</a></p>
</div>
<footer>
    <div class="info-wrapper">
        <div class="row info-row">
            <div class="col-12 info-desc">
                <p>som assistance is a sommelier and wine enthusiasts best friend.</p>
                <p>Quickly and easily keep track of all your wine Tasting Events and Tasting Notes, all in one place. &nbsp;&nbsp;&nbsp;With the powerful search functionality, you can find specific Tasting Notes in a matter of seconds.</p>
            </div>
            <div class="col-4 info-outer">
                <div class="info-inner">
                    <div class="info-inner-header">Create Account:</div>
                    <div class="info-inner-copy">
                        <p>Create an account <a href="/signup">here</a>.</p>
                        <p>Once you have registered, only you will be able to create and search your personal wine Tasting Notes.</p>
                    </div>
                </div>
            </div>
            <div class="col-4 info-outer">
                <div class="info-inner">
                    <div class="info-inner-header">Create Tasting Notes:</div>
                    <div class="info-inner-copy">
                        <p>Start by creating a Tasting Event.</p>
                        <p>Next, add Tasting Notes for each wine tasted at a Tasting Event.</p>
                        <p>Both Tasting Events and Tasting Notes may be edited at a later time.</p>
                    </div>
                </div>
            </div>
            <div class="col-4 info-outer">
                <div class="info-inner">
                    <div class="info-inner-header">Search Tasting Notes:</div>
                    <div class="info-inner-copy">
                        <p>The true power of som assistance lies in its simple, yet powerful, search functionality.</p>
                        <p>Search by Primary Grape, Rating, and Price.</p>
                        <p>Search returns a list of Tasting Notes meeting your search criteria.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="info-clear-fix"></div>
</footer>
<script src="//code.jquery.com/jquery-2.2.1.min.js"
        integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
        crossorigin="anonymous">
</script>
<script src="/js/signup.js"></script>
</body>
</html>