<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Som Assistance web app">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Som Assistance Signup</title>
    <link rel="stylesheet" href="/css/signin_signup.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>
<body class="signup-page">
<div class="header-wrapper">
    <div class="">somm</div>
    <div class="">assistance</div>
</div>

<div class="invalid-signup js-invalid-signup">
    <span class="invalid-signup-message">User Account Already Exists</span>
</div>

<div class="signup-form-wrapper">
    <form class="signup-form" role="form">
        <fieldset>
            <legend>Sign up</legend>

            <label for="signup-email" class="signup-label">Email</label>
            <input id="signup-email" class="signup-email-input js-signup-email-input" type="email" name="email" placeholder="me@example.com" required>

            <label for="signup-password" class="signup-label" >Password</label>
            <input id="signup-password" class="signup-password-input js-signup-password-input" type="password" name="password" placeholder="password" required>

            <label for="signup-conf-password" class="signup-label" >Confirm Password</label>
            <input id="signup-conf-password" class="signup-conf-password-input js-signup-conf-password-input" type="password" name="password" placeholder="confirm password" required>

            <button class="signup-button js-signup-button" type="submit">Sign up</button>
        </fieldset>
    </form>
    <div class="link-wrapper">
        <div class="signin-link">Already have an account?  <a href="/signin">Sign in</a></div>
    </div>
</div>

<!-- scripts -->
<script src="//code.jquery.com/jquery-2.2.1.min.js"
        integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
        crossorigin="anonymous">
</script>
<script src="/js/signup.js"></script>

</body>
</html>