<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Som Assistance web app">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Som Assistance Signin</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>
<body class="splash-page">
<div class="row splash-page-wrapper">

    <div class="col12 splash-page-header">som assistance</div>

    <!--<a class="events-link" href="/events">Display Events</a>-->

    <div class="col-12 invalid-signin js-invalid-signin">
        <span class="invalid-signin-message">Invalid Email or Password</span>
    </div>

    <div class="col-12">
        <form class="signin-form" role="form">
            <fieldset>
                <legend>Signin</legend>

                <label for="signin-email" class="signin-label">Email</label>
                <input id="signin-email" class="signin-email-input js-signin-email-input" type="email" name="email" placeholder="me@example.com" required>

                <label for="signin-password" class="signin-label" >Password</label>
                <input id="signin-password" class="signin-password-input js-signin-password-input" type="password" name="password" placeholder="mypassword" required>

                <button class="signin-button js-signin-button" type="submit">Signin</button>
            </fieldset>
        </form>
    </div>

    <div class="col-12 signup-link">Don't have an account?  <a href="/signup">Signup</a></div>
</div>
<footer>
    <div class="info-wrapper">
        <div class="row info-row">
            <div class="col-12 info-desc">
                <p>som assistance is a sommelier and wine enthusiasts best friend.</p>
                <p>Quickly and easily keep track of all your wine Tasting Events and Tasting Notes, all in one place. &nbsp;&nbsp;&nbsp;With the powerful search functionality, you can find specific Tasting Notes in a matter of seconds.</p>
            </div>
            <div class="col-4 info-outer">
                <div class="info-inner">
                    <div class="info-inner-header">Create Account:</div>
                    <div class="info-inner-copy">
                        <p>Create an account <a href="/signup">here</a>.</p>
                        <p>Once you have registered, only you will be able to create and search your personal wine Tasting Notes.</p>
                    </div>
                </div>
            </div>
            <div class="col-4 info-outer">
                <div class="info-inner">
                    <div class="info-inner-header">Create Tasting Notes:</div>
                    <div class="info-inner-copy">
                        <p>Start by creating a Tasting Event.</p>
                        <p>Next, add Tasting Notes for each wine tasted at a Tasting Event.</p>
                        <p>Both Tasting Events and Tasting Notes may be edited at a later time.</p>
                    </div>
                </div>
            </div>
            <div class="col-4 info-outer">
                <div class="info-inner">
                    <div class="info-inner-header">Search Tasting Notes:</div>
                    <div class="info-inner-copy">
                        <p>The true power of som assistance lies in its simple, yet powerful, search functionality.</p>
                        <p>Search by Primary Grape, Rating, and Price.</p>
                        <p>Search returns a list of Tasting Notes meeting your search criteria.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="info-clear-fix"></div>
</footer>

<script src="//code.jquery.com/jquery-2.2.1.min.js"
        integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
        crossorigin="anonymous">
</script>
<script src="/js/splash.js"></script>
</body>
</html>