<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Events</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div>
        <a href="/">Home Page</a>
    </div>
    <h3>Events:</h3>
    <div class="events-list-wrapper js-events-list-wrapper">
        <ul class="$events-ul js-events-ul"></ul>
    </div>
    <div class="new-tasting-event-link-wrapper js-new-tasting-event-link-wrapper">
        <a href="/events/new">Add Tasting Event</a>
    </div>

    <script src="//code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.0/moment.min.js"></script>
    <script src="/js/tasting_events_list.js"></script>
    <script src="/js/tasting_event_delete.js"></script>
    <script src="/js/tasting_note_delete.js"></script>

</body>
</html>