<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Tasting Event</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="shortcut icon" href="/images/wine_glass.ico">
</head>
<body>
<div class="event-form-new-page-wrapper">
    <!-- nav -->
    <div class="navbar">
        <a href="/" class="signout js-signout">Signout</a>
        <a href="/events">Tastings</a>
    </div>
    <form class="event-form" >
        <fieldset>
            <legend>New Tasting Event</legend>
            <p>
                <label for="event-name">Event Name (Required)</label>
                <input id="event-name" class="js-event-name" type="text" name="event-name" required />
            </p>
            <p>
                <label for="event-host">Event Host (Required)</label>
                <input id="event-host" class="js-event-host" type="text" name="event-host" required/>
            </p>

            <div class="buttons">
                <div class="button-cancel">
                    <button type="button" class="cancel js-button-cancel" >Cancel</button>
                    <!--<input type="button" class="cancel js-button-cancel" value="Cancel"/>-->
                    <!--<a href="/events" class="cancel js-button-cancel">Cancel</a>-->
                </div>
                <div class="button-save">
                    <button type="submit" class="save js-button-save">Save</button>
                    <!--<input type="submit" class="save js-button-save" value="Submit"/>-->
                </div>
            </div>
        </fieldset>
    </form>
</div>

<script src="//code.jquery.com/jquery-2.2.1.min.js"
        integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
        crossorigin="anonymous">
</script>
<script></script>
<script src="/js/tasting_event_form_submit.js"></script>
<script src="/js/signout.js"></script>
<script src="/js/sticky_nav.js"></script>

</body>
</html>