<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Events</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
</head>
<body>
<div class="events-list-page-wrapper">
    <!-- nav -->
    <div>
        <a href="/">Home Page</a>
    </div>

    <!-- search form -->
    <form class="search-form" >
        <fieldset>
            <legend>Search Tasting Notes</legend>
            <div class="search-inputs-wrapper">
                <p>
                    <label for="js-search-primary-grape-select">Primary Grape / Style:</label>
                    <select id="js-search-primary-grape-select" class="primary-grape-select" required></select>
                </p>
                <p>
                    <label for="js-search-rating-select">Rating (greater than):</label>
                    <select id="js-search-rating-select" class="search-rating-select" required>
                        <option value="" disabled selected>Choose Rating</option>
                        <option value="5">5 - Exceptional</option>
                        <option value="4">4 - Excellent</option>
                        <option value="3">3 - Very Good</option>
                        <option value="2">2 - Good</option>
                        <option value="1">1 - OK</option>
                    </select>
                </p>
                <p>
                    <label for="js-search-price">Price (less than):</label>
                    <input id="js-search-price" class="search-price" type="text" name="search-price" required/>
                </p>
            </div>

            <div class="search-button-wrapper">
                <button type="submit" class="search-button js-search-button" >Search</button>
            </div>
        </fieldset>
    </form>

    <!-- events list -->
    <h3>Events:</h3>
    <div class="events-list-wrapper js-events-list-wrapper">
        <ul class="$events-ul js-events-ul"></ul>
    </div>
    <div class="new-tasting-event-link-wrapper js-new-tasting-event-link-wrapper">
        <a href="/events/new">Add Tasting Event</a>
    </div>
</div>

<!-- scripts -->
<script src="//code.jquery.com/jquery-2.2.1.min.js"
        integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
        crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.0/moment.min.js"></script>
<script src="/js/tasting_events_list.js"></script>
<script src="/js/tasting_events_list_search.js"></script>
<script src="/js/tasting_event_delete.js"></script>
<script src="/js/tasting_note_delete.js"></script>

</body>
</html>